<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <div id="users">
    </div>
    <div id="messages">
      <div class="message" id="msgtpl" style="display:none;">
        <img src="">
        <div class="info">
          <p><strong></strong></p>
          <p></p>
          <span class="date"></span>
        </div>
      </div>
    </div>
    

    
   <script src="http://localhost:8000/socket.io/socket.io.js"></script>
   <script src="/assets/js/quiz.js"></script>

  </body>
</html>


{# PASSAGE DE SESSION AU JS #}
<script>

    const session_user = eval('(' + {{ session_user|json_encode|raw }} + ')');
    const socket = io.connect('http://localhost:8000');

    let formSubmit = document.getElementById('form'),
        users = document.getElementById('users')
    
    //Au chargement de la page, passage des infos users au serveur
    window.addEventListener("load", (e) =>{
        e.preventDefault();
        socket.emit('connected', session_user);
    });


    socket.on('newUser', (user) => {
        let newAvatar = document.createElement('img');
            newAvatar.src = ""+user.picture+"";
            newAvatar.style.height = "200px";
            newAvatar.style.width = "200px";

        users.appendChild(newAvatar);
            
    })
        

</script>



