<h1><u>ID de la room :</u> {{ roomId }}</h1>

<span id="roomId">{{roomId}}</span>
<span id="currentUserId">{{session.logged.id}}</span>


<ul id="userList">


</ul>


<script src="/assets/js/quiz.js"></script>